
  /* 
  color1:#2b616d
  color2:#b2dbd5
  color3:#ffffff
  color4:#fa8d62 
  */

  .nav_class{
    /* padding: auto 1000px; */
    margin-left: 18%;
  }
  
  .nav_item_class{
  
    margin: auto 20px;
  
  }